

.title{
    text-align: center;
}


.demo-card-wide {
    flex-direction: column;
}


.demo-card-wide > div {
    flex : 1;
}



.profil{
    display: flex!important;
    justify-content: space-around!important;
    flex-wrap: wrap!important;
    align-content: center!important;
    overflow-y: auto;
    min-height: 0px;

}


.profil_page {

    text-align: center;

}

.profil_pic{
    width: 100%;
    max-height:20em;
}



.win{
    color: #1f963c;
}

.lost{
    color: #843534;
}

.user_menu{
opacity: 1!important;
}

.logo{
    width: 2em;
}