
.title{
    text-align: center;
}

.main:hover{
    background-color: #c9ced6!important;
}

.demo-card-wide {
    flex-direction: column;
    width: 240px!important;


}

.demo-card-wide > div {
    flex : 1;

}

.profil_pic_div{
    height: 15em;
}

.link:hover{
    opacity: 0.7;
    color: gray;
}

.demo-card-wide{
}

.demo-card-wide.mdl-card {
    margin: 10px;
    width: 350px;
    height: 26em;
}

.demo-card-wide > .mdl-card__menu {
    color: #fff;
}

.profil{
    display: flex!important;
    justify-content: space-around!important;
    flex-wrap: wrap!important;

    align-content: center!important;
    overflow-y: auto;
    min-height: 0px;
}


.profil_page {

    text-align: center;

}

.profil_pic{
    width: 100%;
    max-height:15em;
}



.win{
    color: #1f963c;
}

.lost{
    color: #843534;
}

.user_menu{
opacity: 1!important;
    max-height: 3em;
    display: flex;
    justify-content: space-evenly;

}

.logo{
    width: 2em;
}

.link{
    flex-basis: 2em;
    border: 1px;

}

input.logo{


    background-color: none;
    border: 0px;
    font-size: 1em;
    padding: 0;

}
